<h1>Ember Simple Auth Test</h1>

<hr />

<h3>Login</h3>

<button type="button" {{action "authenticateWithBattlenet"}}>Battlenet</button>
<button type="button" {{action "authenticateWithFacebook"}}>Facebook</button>
<button type="button" {{action "authenticateWithGoogle"}}>Google</button>
<button type="button" {{action "authenticateWithMicrosoft"}}>Microsoft</button>
